# Database Configurations
DB_TYPE=postgres
DB_PORT=5432
DB_HOST=localhost
DB_USER=local
DB_PASSWORD=redhat
DB_DATABASE=e-learning
DB_SYNCHRONIZE=true
DB_MIGRATIONS_RUN=true
DB_TIMEOUT=60000
DB_LOGGING=false